.navbar {
  background-color: #ffc608;
  height: 60px;
  top: 0;
}

.nav--logo {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 3px;
  width: 130px;
  color: black;
  font-weight: 500;
}
