.beers--page {
  width: 100vw;
  height: 100vh;
}

.beers--page h1 {
  color: white;
  margin-top: 40px;
}

.search {
  width: 30%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
}

.form--input {
  background-color: rgb(241, 229, 115);
  border-radius: 20px;
  width: 100%;
}

.beer--display {
  width: 90%;
  background-image: linear-gradient(
    to right,
    rgb(192, 192, 192),
    rgba(255, 0, 0, 0)
  );
  margin: 0 auto;
  border-radius: 5px;
  padding: 0px 10px;
}

.display {
    display: grid;
    grid-template-columns: repeat(2,1fr) auto;
    padding-top: 23px;
    grid-row-gap: 30px;
}

@media (max-width: 1270px){
  .beer--display{
    background-image: unset;
    width: 100%;
  }

  .display{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
