.card{
    border-radius: 20px;
    border: solid 3px rgba(90, 90, 90, 0.637);
    width: 350px;
    margin-bottom: 20px;
}

.beer-image{
    height: 350px;
    width: 100%;
    object-fit: fill;
}

.label{
    text-align: center;

}

.card--production--list{
    list-style: none;
    text-align: center;
    font-size: 1rem;
}

.description{
    text-align: center;
}

.card:hover{
    transform: translateY(20px);
    transition: 0.7s ease-out;
}
